.linha {
    display:flex;
}
.quadrado {
    background-color: #fff;
    border: none;
    width: 100px;
    height: 100px;
    font-size: 60px;
}

.linha .quadrado:not(:last-child) {
    border-right: 1px solid black;
}

.linha:not(:last-child) .quadrado {
    border-bottom: 1px solid black;
}